/* General */

body,
html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    font: 300 12px "Lato", sans-serif;
    color: #747704;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

header,
nav,
footer,
section,
article,
div {
    box-sizing: border-box;
}

/* Header */

.img-logo {
    margin: 1em 0 0 0;
    width: 100px;
    height: 100px;
}

hr {
    border-top: 4px solid;
    color: #bcbbbb;
}


/* Text */

.text-muted {
    color: #bcbbbb;
}

.text-thin {
    font: 100 1em "Lato", sans-serif;
}

.title-super {
    font: 4.5em "Lato", sans-serif;
    padding: 0.25em 0 0 0;
}

.title-large {
    font: bold 3em "Lato", sans-serif;
}

.title-medium {
    font: 2.75em "Lato", sans-serif;
    padding: 0.5em 0 0 0.25em;
}